# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml
tsconfig.tsbuildinfo
node_modules

/build
/public/build
.env

/postgres-data

/.cache
/test-results/
/playwright-report/
/playwright/.cache/
/app/styles/unprefixed/
.vscode/
.DS_Store
